body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 50px;
}

header {
    background-color: #008080;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
  nav {
    text-align: center;
    margin: 20px 0;
  }
  
  nav a {
    text-decoration: none;
    color: #3498db;
    margin: 0 15px;
  }
.contact-info {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-grid {
    display: grid;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    margin-right: 10px;
}
footer {
    background-color: #008080;
    color: white;
    padding: 20px;
    border-radius:  0 0 10px 10px;
}
.kontak {
    height: 60vh;
    background-size: cover;
    width: 100%;
}

.des {
    width: 50%;
    padding-left: 60px;
    color: black;
    padding-top: 70px;
    text-align: left;
}

.service-item {
    width: 85%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
